* {
    font-family: Roboto;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

/* add padding to each row */

.header,
.content-1,
.content-2,
.content-3,
.content-4,
.footer {
    padding: 0px 100px;
}

.logo {
    height: 75px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.content-1 {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 100px;
}

.c1-head {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.c1-paragraph {
    font-size: 18px;
    color: #E5E7EB;
}

.c1-signupbw {
    color: white;
    background-color: #3882F6;
    padding: 5px 30px;
    font-size: 18px;
    font-weight: 900;
    border: 0;
    border-radius: 5px;
}

.c1-image {
    height: 250px;
}